ul
    each section in sections
        li
            a(href='https://github.com/CoffeeAndCodeProject/'+section)
                i(class='icon-'+section)
                br
                br
                span= labels[section]
