---
layout: page
---

section(class='left')
    h2 Contribua

section(class='right')
    p Para colaborar siga os seguintes passos:

    ol
        li Acesse o repositório
        li Faça o fork
        li Inclua as suas contribuições
        li Envie um pull request

    p Colabore, contribua, ajude a comunidade!
