---
layout: page
---

section(class='left')
    h2 Sobre

section(class='right')
    p Sabemos da grande influência do GitHub na vida dos desenvolvedores hoje em dia e o ponto-chave é a colaboração. No começo, foi pensado um blog para que fossem publicadas opiniões, dicas, ponto de vista sobre recursos/ferramentas/tecnologias e disponibilizar alguns experimentos. Porém, parei um minuto para refletir (mentira, foram dias… hehehe) e cheguei à conclusão de que poderia unir: artigos, feedbacks, guias, documentos, experimentos e mais uma infinidade de coisas em um só lugar e contar com a colaboração de outras pessoas. Eureka! GitHub! =]

    p Assim surge o projeto Coffee and Code, que vem a ser um espaço colaborativo e de aprendizado para todos nós, desenvolvedores web. Prepare o seu café e bons estudos! =D
